.row-image {
    width: 100px;
}

.form-field {
    width:250px;
    display: inline-block;
    padding: 5px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

@media (max-width: 450px) {
  
  .footer .box-container .box .payment-img {
    margin: 2rem auto;
  }
  
  .cart-row {
    display: block;
  }

}
