{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<section class="blogs" id="blogs">

    <h1 class="headings" style="margin-top: 70px;"> our <span>blogs</span> </h1>

    <div class="box-container">
        {% for blog in blogs %}
        <div class="box">
            <img src="{{blog.image.url}}" alt="">
            <div class="content">
                <div class="icons">
                    <a> <i class="fas fa-user"></i> by Admin </a>
                    <a> <i class="fas fa-calendar"></i> {{blog.date|timesince}} <span
                            style="text-transform: lowercase;">ago</span> </a>
                </div>
                <h3>{{blog.title}}</h3>
                <p>{{blog.text}}</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock content %}