<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->

<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Cart</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		type="text/css">
	<link href="{% static 'css/cart.css'%}" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<h1> Cart </h1>
		<a href="{% url 'store:home' %}">Continue Shopping</a>
		<div class="project">
			<div class="shop">
				{% for item in cartitems %}
				<div class="box">
					<img src="{{item.product.image.url}}">
					<div class="content">
						<h3>{{item.product.name}}</h3>
						<h4>Price: ${{item.product.price}}</h4>
						<p class="unit">Quantity: <input name="" value="2"></p>
						<div class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span
								class="btn2">Remove</span></div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="right-bar">
				<p><span>Subtotal</span> <span>$120</span></p>
				<hr>
				<p><span>Total</span> <span>GH${{cart.cart_total}}</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
			</div>
		</div>
	</div>
</body>

</html>