<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->

<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Cart</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		type="text/css">
	<link href="{% static 'css/cart.css'%}" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<h1> My Cart </h1>
		<hr>
		<a href="{% url 'store:home' %}">Continue Shopping</a>
		<div class="project">
			<div class="shop">
				{% for item in cartitems %}
				<div class="box">
					<img src="{{item.product.image.url}}">
					<div class="content">
						<h3>{{item.product.name}}</h3>
						<h4>Price: GH${{item.product.price}}</h4>
						<h5><strong id="subtotal">SubTotal: GH${{item.subTotal}}</strong></h5>
						<p class="unit">Quantity: <input type="number" id="num" value = "{{item.quantity}}" data-price = {{item.product.price}} data-product = {{item.product.id}} style = 'width: 50px; padding-left: 5px'></p>
						<div class="btn-area"><i aria-hidden="true" class="fa fa-trash del" data-product_id ="{{item.product.id}}"></i> <span
								class="btn2">Remove</span></div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="right-bar">
				<p><span> Item(s)</span> <span><strong id="cart_items">{{cart.num_of_items}}</strong></span></p>
				<hr>
				<p><span>Total</span> <span><strong id="total">GH${{cart.cart_total|floatformat:2}}</strong></span></p>
				<hr>
				<a href="{% url 'store:check_out' %}"><i class="fa fa-shopping-cart"></i>Checkout</a>
			</div>
		</div>
	</div>
	<script> 

      let user = "{{request.user}}"
     

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    </script>

	    <!-- custom js file link  -->

	    <script src="{% static 'js/cart.js'%}"></script>

</body>

</html>