{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">
            {% for product in top_deal %}
            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special product</span>
                    <h3>{{product.name}}</h3>
                    <span>GH${{product.price}}</span>
                    <p>{{product.description}}</p>
                    <a class="btn homecart" data-action="add" data-product="{{product.id}}">add to Cart</a>
                </div>
                <div class="image">
                    <img src="{{product.image.url}}" alt="">
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<!-- dishes section starts  -->
<section class="dishes" id="dishes">

    <h1 class="heading"> <span> Popular Product </span> </h1>

    <div class="box-container" style="margin-top: 10px;">
        {% for product in flash_sales %}
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="{{ product.image.url}}" alt="">
            <a href="{% url 'store:product_detail' product.id %}">
                <h3>{{product.name}}</h3>
            </a>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>GH${{product.price}}</span>
            <a class="btn addtocart" data-action="add" data-product="{{product.id}}">add to cart</a>
        </div>
        {% endfor %}

    </div>

</section>

<!-- dishes section ends -->

<!-- products section starts  -->

<section class="category" id="category">
    <h1 class="heading"> <span>Categories </span> </h1>

    <ul class="controls">
        <li class="btn button-active" data-filter="all">all</li>
        {% for category in categories %}
        <a href="{% url 'store:category' category.slug %}">
            <li class="btn" data-filter="phone">{{category.title}}</li>
        </a>
        {% endfor %}
    </ul>
    <div class="box-container" style="margin-top: 10px;">
        {% for product in products %}
        <div class="box phone">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="{{product.image.url}}" alt="">
            <a href="{% url 'store:product_detail' product.id %}">
                <h3>{{product.name}}</h3>
            </a>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>GH${{product.price}}</span>
            <a class="btn addtocart" data-action="add" data-product="{{product.id}}">add to cart</a>
        </div>
        {% endfor %}


    </div>
</section>
<section class="review" id="review">

    <h1 class="heading"> <span>customer's review </span> </h1>

    <div class="swiper-container review-slider" style="margin-top: 20px;">

        <div class="swiper-wrapper">
            {% for review in reviews %}
            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="{{review.image.url}}" alt="">
                    <div class="user-info">
                        <h3>{{review.name}}</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>{{review.text}} <br></p>

            </div>
            {% endfor %}


        </div>

    </div>

</section>


<!-- review section ends -->


{% endblock content %}