{% extends 'dashboard/base.html' %}
{% block title %}ADD BLOG PAGE{% endblock %}
{% block page_title %}
ADD BLOG
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Blog</h3>
                    </div>
                    <div class="form-group">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" action="" method="post" enctype=multipart/form-data>
                        {% csrf_token %}
                        <div class="card-body">

                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Name" name="title">
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input type="file" class="form-control" placeholder="Image" name="profile">
                            </div>
                            <div class="form-group">
                                <label>Context</label>
                                <textarea class="form-control" rows="5" name="message"
                                    placeholder="Review Message"></textarea>
                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Add Blog</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->



            </div>
        </div>
    </div>
</section>
<!-- /.content -->
{% endblock main_content %}