{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="" class="brand-link">
    <img src="logo" alt="" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">JewelryPalace</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{user.adminhead.image.url}}" class="img-circle elevation-2" alt="User Image" />
      </div>
      <div class="info">
        <a href="{% url 'dashboard:admin_profile' %}" class="d-block">{{user.username}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          {% url 'dashboard:dashboard_home' as admin_home %}
          <a href="{{admin_home}}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Home
            </p>
          </a>
        </li>

        <li class="nav-item">
          {% url 'dashboard:add_category' as add_category %}
          <a href="{{add_category}}" class="nav-link {% if request.path == add_category %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Category
            </p>
          </a>
        </li>

        <li class="nav-item">
          {% url 'dashboard:add_product' as add_product %}
          <a href="{{add_product}}" class="nav-link {% if request.path == add_product %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Product
            </p>
          </a>
        </li>
        <li class="nav-item">
          {% url 'dashboard:all_product' as all_product %}
          <a href="{{all_product}}" class="nav-link {% if request.path == all_product %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Edit Product
            </p>
          </a>
        </li>
        <li class="nav-item">
          {% url 'dashboard:pending_orders' as pending_orders %}
          <a href="{{pending_orders}}" class="nav-link {% if request.path == pending_orders %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Pending Orders
            </p>
          </a>
        </li>
        <li class="nav-item">
          {% url 'dashboard:completed_orders' as completed_orders %}
          <a href="{{completed_orders}}" class="nav-link {% if request.path == completed_orders %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              completed_orders
            </p>
          </a>
        </li>
        <li class="nav-item">
          {% url 'dashboard:canceled_orders' as canceled_orders %}
          <a href="{{canceled_orders}}" class="nav-link {% if request.path == canceled_orders %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              canceled_orders
            </p>
          </a>
        </li>
        <li class="nav-item">
          {% url 'dashboard:all_customer' as all_customer %}
          <a href="{{all_customer}}" class="nav-link {% if request.path == all_customer %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Customers
            </p>
          </a>
        </li>
        <li class="nav-item">
          {% url 'dashboard:add_review' as add_review %}
          <a href="{{add_review}}" class="nav-link {% if request.path == add_review %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Review
            </p>
          </a>
        </li>

        <li class="nav-item">
          {% url 'dashboard:add_blog' as add_blog %}
          <a href="{{add_blog}}" class="nav-link {% if request.path == add_blog %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Add Blog
            </p>
          </a>
        </li>


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>