{% extends 'user/base.html' %}
{% block page_title %}
Orders
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="form-group">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Location</th>
                                <th>Telephone</th>
                                <th>Date</th>
                                <th>Order Details</th>
                                <th>Order Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.ordered_by}}</td>
                                <td>{{ order.email }}</td>
                                <td>{{ order.location }}</td>
                                <td>{{ order.mobile }}</td>
                                <td>{{ order.created_at }}</td>
                                <td>
                                    <a href="{% url 'customerorderdetail' order.id %}" class="btn btn-primary">View</a>
                                </td>
                                <td>
                                    {% if order.order_status == 0 %}
                                    <a class="btn btn-info text-white">Pending</a>
                                    {% elif order.order_status == 1 %}
                                    <a class="btn btn-success text-white">Completed</a>
                                    {% else %}
                                    <a class="alert alert-danger text-white">Cancelled</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Modal For Add Product-->



{% endblock main_content %}