<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sent</title>
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" />
</head>

<body>
    <main>
        <section class="login-container">
            <div class="login sent">
                <!-- <span class="close-button">&times;</span> -->

                <h1>Check your mail</h1>
                <p>We sent a password reset link to your registered email</p>

                <small>Didn't receive the email?
                    <a href="{% url 'password_reset'%}" class="redirect">Click to resend</a></small>
                <small>
                    <a href="{% url 'do_login'%}"><span class="arrow"><img src="" alt="" /></span>
                        Back to Sign In</a></small>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>