<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/reset.css'%}" />
</head>

<body>
    <main>
        <section class="login-container">
            <div class="login reset">
                <!-- <span class="close-button">&times;</span> -->

                <h1>Forgot Your Password</h1>
                <small>
                    Enter your email address and we will send you instructions to reset
                    your password
                </small>
                <form action="" class="" id="reset-form" method="post">
                    <div class="form-control">
                        <label for="email">Email Address</label>
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <div class="form-action">
                        <button type="submit">Continue</button>
                    </div>
                </form>
                <small>
                    <a href="{% url 'do_login'%}" class="redirect">Back to Sign In</a></small>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>