{% extends 'user/base.html' %}
{% block page_title %}
My Orders details
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Image</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in ord_obj.cart.cartitems_set.all %}
                            <tr>
                                <td>{{ order.product.name}}</td>
                                <td>{{ order.product.price }}</td>
                                <td>{{ order.quantity }}</td>
                                <td><img src="{{ order.product.image.url }}" style="width:50px" /></td>
                                <td>{{ order.subTotal }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th colspan='4' class="text-right"> TOTAL</th>
                                <th>GH¢{{ord_obj.cart.cart_total}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Modal For Add Product-->



{% endblock main_content %}